

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
}

/* root grid */

#root {
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    grid-template-areas: 
        "header"
        "main"
    ;
}

/* header grid area */

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}

header #header-text {
    display: flex;
    flex-direction: column;
}

header #icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

header #x {
    display: none;
}


nav {
    grid-area: nav;
}

/* main grid area (markdown content) */

main {
    grid-area: main;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
}

main #main-overlay {
    display: none;
}

main h1 {
    margin-bottom:3rem;
}

main p {
    margin-bottom:1rem;
    line-height: 1.5rem;
}

main h2 {
    margin-bottom: 1.5rem;
}

